.emp-container{
    margin: 50px 26px;
    padding: 11px;
    border: 1px solid;

}
tr{
    cursor: pointer;
}
.pt-10{
    padding-top: 10px;
}
.table-container{
    overflow-y: hidden;
    overflow-x: scroll;
}